* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(0, 0, 0);
 
}
 

#profile {
  padding: 5px;
  height: 100vh;
  width: 250px;
}
#light {
  background-color: rebeccapurple;
}
#dark {
  background-color: rgb(0, 0, 0);
}
#profile #avatar {
  height: 195px;
  width: 195px;
  border-radius: 50%;
  border: 1px solid black;
  margin: 10px;
}
#avatar img {
  border: 1px solid black;
  height: 100%;
  width: 100%;
  border-radius: inherit;
}

#data-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 120%;

}
h1 {
  font-size: 2rem;
  text-align: center;
 
  margin-bottom: 20;
  padding: 1rem;
  font-style: italic;
  color: rgb(164, 168, 180);

  box-shadow: rgb(100, 98, 98);
}

h2{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 70;
  padding: 1rem;
  font-style: normal;
  color: rgb(255, 255, 255);
}


article {
  margin: auto;
  max-width: 800px;
  padding: 0 20px;
  text-align: center;
  color: rebeccapurple;
  font-size: small;
  margin-top: 15px;
}
.buttons {
  justify-content: space-around;
  margin: 5px;
  cursor: pointer;
  background-color: rgb(61, 59, 59);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  font-style: bolder;
  font-size: 15px;
  box-shadow: rgb(61, 59, 59);
}

a .buttons {
  border-radius: 5px;
  text-decoration: none;
  background-color: rgb(61, 59, 59);
  color:rgb(0, 119, 163);
}
button {
  border: none;
  background-color: rgb(61, 59, 59);
  cursor: pointer;
  font-size: 1rem;
  color: rgb(181, 131, 131);
  font-weight: 20px;
  border-radius: 5px;

}

.bio {
  font-size: 25px;
  color: rgb(255, 255, 255);
}
#user-data {
  height: 90%;
  width: 285px;
  margin: 20px;
  font-size: 9px;
  text-align: right;
  position: relative;

  
}
#paginate {
  position: relative;
  margin-top: 50px;
}

#outlet {
  margin-top: 80px;
}
a {
  text-decoration: none;

  color: black;
}
.btns {
  padding: 5px;
  font-size: 15px;
  display: flex;
  justify-content: space-around;
  margin: 5px;
  background-color: rgb(61, 59, 59);
  color: rgb(0, 187, 193);
  cursor: pointer;
  border-radius: 5px;
  /* box-shadow: black; */
}
.switch {
  display: flex;
  justify-content: right;
  align-items: right;
  cursor: pointer;

  font-size: 10px;
}
@media screen and (max-width: 0px) {
  .Home {
    flex-direction: column;
    width: screen;
    border: 1px solid black;
    min-height: 700px;

  }
  #profile {
    height: 50vh;
    padding: 5px 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
  }
  #profile #avatar {
    height: 50px;
    width: 50px;
  }
  #profile-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  #data-card {
    display: flex;
    flex-direction: column;
    padding: 10px;

    flex-wrap: wrap;

    justify-content: right;
  }
  #user-data {
    height: 180px;
    font-size: 20px;
  }
  #paginate {
    left: 100px;
    position: absolute;
  }
  #outlet {
    margin-top: 160px;
  }
}
.alert {
  position: relative;
  font-size: 20px;
  color: brown;
}